<a href="https://colab.research.google.com/github/bmraffa/Linear-Algebra-1/blob/main/Assignment2.2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Welcome to Phyton Fundamentals
In This Module, We are going to establish our skills in Python Programming. In thus notebook, We are going to cover:



*   Variables and Data Types
*  Operations
*   Input and Output Operations
*   Logic Control
*   Iterables
*   Functions

#Variables and Data Types

In [ ]:
Website="facebook.com"
print(Website)

# Assigning new value to Website
Website="microsoft.com"
print(Website)

facebook.com
microsoft.com

In [ ]:
a = 0b1010 #Binary Literals
b = 100 #Decimal Literal 
c = 0o310 #Octal Literal
d = 0x12c #Hexadecimal Literal

#Float Literal
float_1 = 10.5 
float_2 = 1.5e2

#Complex Literal 
x = 3.14j

print(a, b, c, d)
print(float_1, float_2)
print(x, x.imag, x.real)

10 100 200 300
10.5 150.0
3.14j 3.14 0.0

##Operations

###Arithmetic

In [9]:
u,v,w,x,y,x=5,10,15,20,25,30

In [10]:
### Addition
print('u+w=',u+w)

u+w= 20

In [11]:
### Subtraction
print('v-x=',v-x)

v-x= -20

In [13]:
### Multiplication
print('u*y=',u*y)

u*y= 125

In [14]:
### Division
print('y/u=',y/u)

y/u= 5.0

In [19]:
### Floor Division
print('w//v=',w//v)

w//v= 1

In [20]:
### Exponentiation
print('x**y=',x**y)

x**y= 8472886094430000000000000000000000000

In [21]:
### Modulo
print('w%y=',w%y)

w%y= 15

#Assignment

In [24]:
u,v,w,x,y,x=5,10,15,20,25,30
#Assign
c=v+w
c

25

In [25]:
#Add and Assign
u+=x
u

35

In [26]:
#Subtract and Assign
y-=u
y

-10

In [27]:
#Multiply and Assign
x*=y
x

-300

In [28]:
#Divide and Assign
y/=v
y

-1.0

In [29]:
#Modulos and Assign
w%=v
w

5

In [30]:
#Floor Division and Assign
u//=y
u

-35.0

### Comparators

In [22]:
A = 10
B = 12

print('A > B is',A>B)
print('A < B is',A<B)
print('A == B is',A==B)
print('A != B is',A!=B)
print('A >= B is',A>=B)
print('A <= B is',A<=B)

A > B is False
A < B is True
A == B is False
A != B is True
A >= B is False
A <= B is True

### Logical

In [31]:
p=5
#Conjunction
print(p > 3 and x < 10)

True

In [32]:
#Disjunction
print(p > 3 or p < 4)

True

In [34]:
#Negation
print(not(p > 3 and p < 10))

False

## Input and Output

In [38]:
>>> fname = input("Enter Your First Name: ")
>>> mname = input("Enter Your Middle Name: ")
>>> lname = input("Enter Your Last Name: ")

>>> print('Name:', fname, mname, lname)

Enter Your First Name: Rafaella Mae
Enter Your Middle Name: Casalmer
Enter Your Last Name: Besanes
Name: Rafaella Mae Casalmer Besanes

In [58]:
my_string = 'Hello'
print(my_string)

my_string = 'Hello, welcome to my Assignment 2 Mr./Ms.:',input('Please Enter Your Name:')

print(my_string)

Hello
Please Enter Your Name:raffa
('Hello, welcome to my Assignment 2 Mr./Ms.:', 'raffa')

In [ ]:
pg, mg, fg = 0.3, 0.3, 0.4
print("The weights of your Semestral grades are:\
\n\t {:.2%} for Prelims\
\n\t {:.2%} for Midterms, and\
\n\t {:.2%} for finals.".format(pg, mg, fg))

The weights of your Semestral grades are:
	 30.00% for Prelims
	 30.00% for Midterms, and
	 40.00% for finals.

In [ ]:
e =input("Enter a number: ")
e

In [ ]:
name = input("Enter your name: ")
pg = input("Enter Prelim Grade: ")
mg = input("Enter Midterm Grade: ")
fg = input("Enter Final Grade: ")
sem_grade = None
print("Hello {}, your semestral grade is: {}".format(name,sem_grade))

Enter your name: raffa
Enter Prelim Grade: 90
Enter Midterm Grade: 89
Enter Final Grade: 88
Hello raffa, your semestral grade is: None

## Looping Statements

## While

In [86]:
## While Loops
n = 50
sum = 0
i = 1

while i <= n:
    sum = sum + i
    i = i+1    

print("The sum is", sum)

The sum is 1275

## For

In [71]:
## For Loop
Attendance = ["Raffa", "John", "Andrea", "Jomari", "Angelica","Jennie"]
for name in Attendance:
    print(name)

Raffa
John
Andrea
Jomari
Angelica
Jennie

## Flow Control

### Condition Statements

In [ ]:
num_1, num_2 = 12, 12
if(num_1 == num_2):
    print("HAHA")
elif(num_1>num_2):
    print("HOHO")
else:
    print("HUHU")

HAHA

## Functions

In [ ]:
# void DeleteUser (int userid){
# delete(userid);
#}

def delete_user (userid):
    print("Successfully deleted user: {}".format(userid))

In [ ]:
userid = 2020_10101010
delete_user(2020_10101010)

Successfully deleted user: 202010101010

In [ ]:
def add(addend1, addend2):
   sum = addend1 + addend2
   return sum

In [ ]:
add(3,4)

7